$maincolor: #18c3b3;
$maincolor2: #0ea6b1;
// #18e7d3 0, #19d0de
body {
  margin: 0;
  padding: 0;  
}
@mixin tran($t) {
  -webkit-transition: all $t ease-in-out;
  -moz-transition: all $t ease-in-out;
  -ms-transition: all $t ease-in-out;
  -o-transition: all $t ease-in-out;
  transition: all $t ease-in-out;
}
@mixin bradius($b) {
  -webkit-border-radius: $b;
  -moz-border-radius: $b;
  -ms-border-radius: $b;
  -o-border-radius: $b;
}
@mixin bshadow($bs) {
  box-shadow: $bs rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: $bs rgba(0, 0, 0, 0.4);
  -o-box-shadow: $bs rgba(0, 0, 0, 0.4);
  -ms-box-shadow: $bs rgba(0, 0, 0, 0.4);
  -moz-box-shadow: $bs rgba(0, 0, 0, 0.4);
}
@mixin translat($tr, $st2) {
  transform: translate($tr, $st2);
  -webkit-transform: translate($tr, $st2);
  -moz-transform: translate($tr, $st2);
  -ms-transform: translate($tr, $st2);
  -o-transform: translate($tr, $st2);
}
.custom-btn {
  border: none;
  outline: none;
  color: #000;
  background-image: linear-gradient(90deg, #18e7d3, #19d0de);
  padding: 15px 20px;
  @include bradius(50px);
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: all 0.6s ease-in-out;
  &:focus {
    outline: none;
  }
  &:hover {
    background: $maincolor;
    color: #fff;
  }
  &::before {
    content: "";
    width: 100%;
    height: 100%;
    @include translat(-50%, -50%);
    @include bradius(50px);
    background: #fff;
    z-index: -1;
    opacity: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transition: all 0.4s ease-in-out;
  }
  &:hover:before {
    transform: scale(1.3);
    opacity: 0;
  }
}

.toggleHeading {
  animation-delay: 0.5s;
  -webkit-animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
  -o-animation-delay: 0.5s;
}

.toggleCaption {
  animation-delay: 1.5s;
  -webkit-animation-delay: 1.5s;
  -moz-animation-delay: 1.5s;
  -o-animation-delay: 1.5s;
}
@keyframes zooom {
  0% {
    transform: scale(0.9);
  }
  80% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.9);
  }
}
@keyframes anileft {
  0% {
    transform: translate(0);
    opacity: 1;
  }
  80% {
    transform: translate(-4px);
    opacity: 0.6;
  }
  100% {
    transform: translate(0);
    opacity: 1;
  }
}
@keyframes aniright {
  0% {
    transform: translate(0);
    opacity: 1;
  }
  80% {
    transform: translate(4px);
    opacity: 0.6;
  }
  100% {
    transform: translate(0);
    opacity: 1;
  }
}
@keyframes anidown {
  0% {
    transform: translate(0);
    opacity: 1;
  }
  80% {
    transform: translate(0, 5px);
    opacity: 0.6;
  }
  100% {
    transform: translate(0);
    opacity: 1;
  }
}
  /* logo */
  #brand {
    position: absolute;
    top: -20px;
    left: 20px;
    z-index: 9999;
    background-image: url(../img/brand.svg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px;
    background-position: bottom;
    background-image: url(../img/brand.svg);
    padding: 20px 30px;
span {
  font-size: 35px;
  font-weight: bold;
  color: $maincolor2
}
    span:nth-of-type(2) {
      color: $maincolor !important;
      font-weight: 400
    }
  }

  /* logo */
/****************************** start nav **************/

.navbar {
  background: transparent;
  position: fixed;
  width: 100%;
  height: 50px;
  z-index: 100;
  top: 0;
  @include tran(0.5s);

}
.navbar .menu {
  width: 0;
  height: 0;
  background-image: -webkit-linear-gradient(-90deg, rgba(26, 208, 190, 0.9), rgba(14, 166, 177, 0.9)50%);
  background-image: -o-linear-gradient(-90deg, rgba(26, 208, 190, 0.9), rgba(14, 166, 177, 0.9)50%);
  background-image: -ms-linear-gradient(-90deg, rgba(26, 208, 190, 0.9), rgba(14, 166, 177, 0.9)50%);
  background-image: -moz-linear-gradient(-90deg, rgba(26, 208, 190, 0.9), rgba(14, 166, 177, 0.9)50%);
  background-image: linear-gradient(-90deg, rgba(26, 208, 190, 0.9), rgba(14, 166, 177, 0.9)50%);
  text-align: center;
  opacity: 0;
  transition: all 1s ease-in-out;
  position: fixed;
  right: 0px;
  overflow-y: auto;
  z-index: 90;
  top: 0px;
  padding: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  padding-top: 25vh;
  @include bradius(0 0 0 20%);
  @include bshadow( -12px 9px 35px -12px)
}
.menu a {
  color: #fff !important;
  padding: 10px 0;
  font-size: 20px;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  display: inherit;
  text-decoration: none;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}

.click {
  position: absolute;
        right: 10px;
      top: 10px;
  z-index: 999;
  width: 40px;
  height: 40px;
  text-align: center;
  @include bradius(50%);
@include tran(.5s);
}
.click-style {
  position: absolute;
  @include bradius(0);
  z-index: 9999;
  background-image: url(../img/click.svg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10px;
  background-position: bottom;
  padding: 20px 30px;
  height: 75px;
  top: 0;
  right: 20px;
  width: 75px;
  span {
    background: $maincolor2 !important;
    margin-left: 24px !important;
    margin-top: 7px !important;
  }
}
.click-bg {
  background: linear-gradient($maincolor, $maincolor2);
  background: -webkit-linear-gradient($maincolor, $maincolor2);
  background: -o-linear-gradient($maincolor, $maincolor2);
  background: -moz-linear-gradient($maincolor, $maincolor2);
  background: -ms-linear-gradient($maincolor, $maincolor2);
}

.click span {
  height: 2px;
  width: 25px;
  background: #fff;
  display: inline-block;
  position: absolute;
  margin: -2px 8px;
  border-radius: 15px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.click span:nth-of-type(1) {
  top: 13px;
  left: 0;
}

.click span:nth-of-type(2) {
  top: 22px;
  left: 0;
}

.click span:last-child {
  top: 30px;
  left: 0;
}
#toggle:checked ~ .menu {
  opacity: 1;
  width: 100%;
  height: 100%;
}
.click:hover span:nth-of-type(1) {
  top: 12px;
}
.click:hover span:nth-of-type(3) {
  top: 31px;
}
#toggle:checked ~ .click span:nth-of-type(2) {
  background: transparent !important;
}
#toggle:checked ~ .click span:nth-of-type(1) {
  top: 22px;
  left: 0px;
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
}
#toggle:checked ~ .click span:last-child {
  top: 22px;
  left: 0px;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
}

.navbar.custom-nav {
  background: rgba(255, 255, 255, 0.95);
  @include bshadow(0 0 8px 0);
}

#toggle {
  display: none;
}

/****************************** end nav *****************/
.main-slider {
  .carousel {
    &::before {
      content: "";
      position: absolute;
      bottom: -7px;
      left: 0;
      height: 10px;
      width: 100%;
      background: #fff;
      z-index: 3;
    }
    overflow: hidden;
    .carousel-inner {
      height: 95vh;
      width: 100%;
      .slide0 {
        background: url(../img/slider/slide0.png);
        &::after {
          content: "";
          position: absolute;
          height: 100%;
          width: 100%;
          top: 0;
          left: 0;
        }
      }

      .slide1 {
        background: url(../img/slider/slide1.jpeg);
      }
      .slide2 {
        background: url(../img/slider/slide2.jpeg);
      }
      .slide3 {
        background: url(../img/slider/slide3.jpeg);
      }
      .carousel-item {
        height: 100%;
        width: 100%;
        background-attachment: fixed;
        background-size: cover;
        background-position: top;
        &::before {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          height: 100px;
          width: 100%;
          background-image: url(../img/bottom2.svg);
          background-size: cover;
          background-position: top;
          z-index: 1;
        }

        &::after {
          content: "";
          position: absolute;
          height: 100%;
          width: 100%;
          top: 0;
          left: 0;
          background-image: -webkit-linear-gradient(-90deg, rgba(26, 208, 190, 0.7), rgba(14, 166, 177, 0.8)50%);
          background-image: -o-linear-gradient(-90deg, rgba(26, 208, 190, 0.7), rgba(14, 166, 177, 0.8)50%);
          background-image: -ms-linear-gradient(-90deg, rgba(26, 208, 190, 0.7), rgba(14, 166, 177, 0.8)50%);
          background-image: -moz-linear-gradient(-90deg, rgba(26, 208, 190, 0.7), rgba(14, 166, 177, 0.8)50%);
          background-image: linear-gradient(-90deg, rgba(26, 208, 190, 0.7), rgba(14, 166, 177, 0.8)50%);
        }
      }
      .carousel-caption {
        position: absolute;
        right: 15%;
        bottom: 50%;
        left: 10px;
        z-index: 10;
        padding-top: 0;
        padding-bottom: 0;
        color: #fff;
        text-align: left;
        transform: translate(0, 50%);
        -moz-transform: translate(0, 50%);
        -o-transform: translate(0, 50%);
        -webkit-transform: translate(0, 50%);
        -ms-transform: translate(0, 50%);
        align-items: center;
        display: inline-flex;
        .cap-text {
          align-items: center;
        }
        img {
          width: 100%;
          height: 100%;

          animation: zooom 15s infinite;
          -webkit-animation: zooom 15s infinite;
          -moz-animation: zooom 15s infinite;
          -o-animation: zooom 15s infinite;
          -ms-animation: zooom 15s infinite;
        }
      }
    }
    .clickk {
      position: absolute;
      bottom: 50%;
      right: 0;
      z-index: 89;
      height: 105px;
      width: 35px;
      border-radius: 5px 0 0 5px;
      background: #fff;
      clip-path: polygon(23% 0%, 100% 0, 100% 100%, 25% 100%, 0% 50%);
      -webkit-clip-path: polygon(23% 0%, 100% 0, 100% 100%, 25% 100%, 0% 50%);
      -moz-clip-path: polygon(23% 0%, 100% 0, 100% 100%, 25% 100%, 0% 50%);
      -o-clip-path: polygon(23% 0%, 100% 0, 100% 100%, 25% 100%, 0% 50%);
      -ms-clip-path: polygon(23% 0%, 100% 0, 100% 100%, 25% 100%, 0% 50%);
      a {
        display: block;
        width: 100%;
        padding-left: 4px;
        height: 35px;
        position: unset;
        line-height: 35px;
        text-align: center;
        color: $maincolor;
        opacity: 1;
        transition: all 0.5s ease-in-out;
        -webkit-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -ms-transition: all 0.5s ease-in-out;
        &:hover {
          color: #fff;
          background: $maincolor;
        }
      }
      .carousel-control-next {
        i {
          animation: anileft 1.5s infinite;
          -webkit-animation: anileft 1.5s infinite;
          -moz-animation: anileft 1.5s infinite;
          -o-animation: anileft 1.5s infinite;
          -ms-animation: anileft 1.5s infinite;
        }
      }
      .carousel-control-prev {
        i {
          animation: aniright 1.5s infinite;
          -webkit-animation: aniright 1.5s infinite;
          -moz-animation: aniright 1.5s infinite;
          -o-animation: aniright 1.5s infinite;
          -ms-animation: aniright 1.5s infinite;
        }
      }
      .downn {
        i {
          animation: anidown 1.5s infinite;
          -webkit-animation: anidown 1.5s infinite;
          -moz-animation: anidown 1.5s infinite;
          -o-animation: anidown 1.5s infinite;
          -ms-animation: anidown 1.5s infinite;
        }
      }
    }
  }
}
/* start do section */ 
.do {
  margin-top: 50px;
  .do-head {
    font-weight: bold;
    margin-bottom: 15px;
    span {
      color: $maincolor
    }
  }
  .do-p {
    margin-bottom: 50px
  }
  .we-do {
    margin: 5px;
    padding: 30px 10px 5px 10px;
    position: relative;
   @include bradius(5px);
    cursor: pointer;
    background-image: linear-gradient(to bottom, $maincolor2, $maincolor);
 transition: all .4s ease-in-out;
 margin-bottom: 30px;
    .icon {
      background: #fff;
      display: block;
      width: 150px;
      height: 150px;
      text-align: center;
      @include bradius(15px);
      margin: 0 auto 20px auto;

      i {
        font-size: 100px;
        line-height: 150px;
        background: linear-gradient($maincolor, $maincolor2);
        background: -webkit-linear-gradient($maincolor, $maincolor2);
        background: -o-linear-gradient($maincolor, $maincolor2);
        background: -moz-linear-gradient($maincolor, $maincolor2);
        background: -ms-linear-gradient($maincolor, $maincolor2);
        background-clip: text;
        -webkit-background-clip: text;
        -o-background-clip: text;
        -moz-background-clip: text;
        -ms-background-clip: text;
        -webkit-text-fill-color: transparent;
        -o-text-fill-color: transparent;
        -moz-text-fill-color: transparent;
        -ms-text-fill-color: transparent;
      }
    }
    h3 {
      margin: 20px ;
      font-weight: 600;
      color: #fff
    }
    p {
      color: #fff;
      text-align: center
    }
    .g-border {
 
      background: #fff;
      position: absolute;
      transition: all .1s ease-in-out

    }
    .g-border.one {
      top: 0;
      left: 0;
      width: 5px;
      height: 0;
    
    }
    .g-border.two {
      top: 0;
      left: 0;
      height: 5px;
      width: 0;
      transition-delay: .2s
      
    }
    .g-border.three {
      top: 0;
      left: auto;
      right: 0;
      width: 5px;
      height: 0;
      transition-delay: .3s
    }
    .g-border.four {
      top: auto;
      bottom: 0;
      left: auto;
      right: 0;
      height: 5px;
      width: 0;
      transition-delay: .4s
    }
    
  }
}
/*
.we-do:hover .g-border.one,
.we-do:hover .g-border.three {
  height: 100%;
}
.we-do:hover .g-border.two,
.we-do:hover .g-border.four {
  width: 100%;
}
*/
.we-do:hover  {
  background-image: linear-gradient(to top, $maincolor2, $maincolor);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.32);
    @include translat(0, -5px);
  }
/* end do section */ 
/* start mobil section */ 
/*
;
*/ 

.more {
  margin-top: 50px;
  .more-pic {
    img {
      width: 100%;
      animation: zooom 10s infinite;
      -webkit-animation: zooom 10s infinite;
      -moz-animation: zooom 10s infinite;
      -o-animation: zooom 10s infinite;
      -ms-animation: zooom 10s infinite
    }
  }
.more-text {
  vertical-align: middle;
  margin: auto;
  .more-feat {
    margin-bottom: 50px;
    h3 {
      color: $maincolor2
    }
    h5 {
      color: $maincolor
    }
    p {
      color: #053336
    }
  }
}
.more-btn {
  padding: 5px 20px
}
}
.g-btn {
  color: #fff;
&::before {
  background: linear-gradient($maincolor, $maincolor2);
  background: -webkit-linear-gradient($maincolor, $maincolor2);
  background: -o-linear-gradient($maincolor, $maincolor2);
  background: -moz-linear-gradient($maincolor, $maincolor2);
  background: -ms-linear-gradient($maincolor, $maincolor2);
}
}
/* start mobil section */ 
/* start down-app */
.down-app {
  position: relative;
  color: #fff;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
background: $maincolor2;
    height: 100%;
    width: 100%;
    opacity: .8;
    -webkit-clip-path: polygon(100% -160%, 0 100%, 100% 100%);
    -moz-clip-path: polygon(100% -160%, 0 100%, 100% 100%);
    -o-clip-path: polygon(100% -160%, 0 100%, 100% 100%);
    -ms-clip-path: polygon(100% -160%, 0 100%, 100% 100%);
    clip-path: polygon(100% -160%, 0 100%, 100% 100%);
  }
  .all-content {
    .photo {
      img {
        width: 100%
      }
    }
    .content {
      h2 {
        font-weight : 100;
        letter-spacing: 3px;
        font-size : 40px;
        margin: 50px 0 30px 0 ;
      }
    }
    .down {
     text-align : center;
      display: block;
      margin: 30px 0;
      button {
        margin-left: 20px;
        padding: 5px 20px;
        &::before {
          box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.22);
          -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.22);
          -o-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.22);
          -moz-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.22);
          -ms-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.22);

        }
      
      }
    }
  }

} 
/* end down-app */ 
/* start our price */ 
/* start Pricing Packages */
.our-pricing {
  margin-top: 50px;
  h3 {
      text-align: center;
      font-weight: bold;
           padding-bottom: 15px
  }
  .par {
      text-align: center;
      position: relative;
      margin-bottom: 100px;
      &::after {
          content: "";
          position: absolute;
          left: 48%;
          bottom: -30px;
          height: 3px;
          width: 60px;
          background: $maincolor2;
          
      }
  }
  .price {
      
      .price-container {
          width: 270px;
          padding-bottom: 40px;
          @include bshadow(0 1px 11px 1px);
          margin: 0 auto 40px auto;
          @include bradius(20px);
          overflow: hidden;    
      @include tran(.3s);
              &:hover {
                  transform: translateY(-10px);
                  -ms-transform: translateY(-10px);
                  -webkit-transform: translateY(-10px);
                  -o-transform: translateY(-10px);
                  -moz-transform: translateY(-10px);
                  @include bshadow(0 3px 14px 3px);

              }
          h6 {
          background: $maincolor2;
            color: #fff;
            line-height: 70px;
            height: 70px;
          text-align: center;
      }
      .sallery {
          color: $maincolor2;
          text-align: center;
          span {
              font-size: 55px;
              font-weight: bold;
              sup {
                  font-weight: bold;
                  font-size: 20px;
                  top: -35px
              }
          }
          
      }
      ul {
          list-style: none;
          
          li {
          padding: 0 0px 20px 15px;
      
          i {
              margin-right: 15px
          }    
          .not-available {
              color: #c2c2c2
          }
          }
      }
      .custom-btn {
          text-align: center;
          padding: 10px 50px;
          background: $maincolor2;
          color: #fff;
          text-decoration: none;
          font-weight: 600;
          border-radius: 20px;
          display: block;
  margin: 0 30px;
      &::before {
        background: $maincolor;
      }
          
      }
  }
}
}
/* end Pricing Packages */
/* end our price */ 
/* start our team */
.our-team {
  margin: 50px 0;
  h2 {
    font-weight : bold;
    text-align: center;
    margin-bottom: 30px;
  }
  .slick-slide img {
    width: 100%;
    border-radius: 50%;
    margin-bottom: 20px;
    @include tran(0.6s);
  }
  .slick-slide {
opacity: .3;
text-align: center;
@include tran(0.6s);

h4 ,p {
  opacity: 0;
}
h4 {
  @include tran(0.3s);
}
p {
  @include tran(0.6s);
}
  } 
  .slick-current {
    @include tran(0.6s);
    opacity: 1;
    h4 ,p {
      opacity: 1;
    }
    img {
      transform: rotate(360deg);
    }
  }
} 
/* end our team */ 


